{
  "chmod": "0755",
  "directories": [
    "app/config",
    "src"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": ["Tests", "tests"],
      "in": "vendor"
    },
    {
      "name": "*.xml",
      "in": "vendor"
    },
    {
      "name": "*.xsd",
      "in": "vendor"
    },
    {
      "name": "*.pem*",
      "in": "vendor"
    }
  ],
  "git-version": "package_version",
  "main": "app/console",
  "output": "rabbit-mq-admin-toolkit.phar",
  "stub": true
}
